

/*Get globals*/
* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family: Sarabin, sans-serif; /*Set the general font family*/
    
    
}


/*setting up global vars*/
:root {
    /*get colors*/
    --col-main-backround        : #fefefe;
    --col-primary               : #0E71A5;
    --col-primary-background    : #0E71A577;
    --col_secondary-background  : #1b313a77;
    --col-secondary             : #7093A1;
    --col-accent1               : #E8A635;
    --col-accent2               : #282828;
    --col-accent1_background    : #E8A63577;
    
    --col_p                     : #000;

    /*get layout*/
    /*img*/
    --img-std-width             : 150px;
    --img-aside-width           : 200px;
    --img-std-height            : auto;

    /*Get box widths*/
    --box-width                 : 100%;

    --figure-width              : 11rem;

}

/*general sizing*/
body {
    padding : 10px;
}

/*header*/

header{
    /**/
}


.grid-header-container{
    display: grid;
    grid-template-columns: minmax(var(--img-std-width),auto) 1fr; /*Set the image and links to be in a grid of 1 fractional unit*/
    grid-gap: 1em;
    background-color: var(--col-primary);
    border: solid 0.5rem var(--col-accent1);
}
.grid-header-container > img {
    display: flex;
    align-items: flex-end;
}

.grid-header-container > .grid-header-container-links
{
    display: flex;
    justify-content:space-evenly;
    align-items:center;    
    flex: 1;
    
    
}

/*should remove underlines in the header links*/
.grid-header-container-links > .grid-header-container-subLink
{
    text-decoration: none;
    font-size:x-large;
    color: #E8A635;
    text-shadow: 1px 1px #000000;
}



/*main*/
main {
    /**/
}


/*The hero banner*/
/*Goal: To have the happy employee image and description text inside the hero image*/
.hero {
    position: relative;
    min-height: 5rem;
}

.hero img {
    position: absolute;
    display : block;
    width: var(--box-width);
    height: auto;
}

/*Looks good*/
.hero h1 {
    position: absolute;
    top : 0.75rem;
    background-color: var(--col_secondary-background);
    width: var(--box-width);
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 0px 0px 1rem #fefefe; /*text-shadow per W3 Schools*/
    color: var(--col-primary);
    font-family: "Denk One", sans-serif;

    /*Set a margin*/
    margin-bottom : 3rem;
}

.hero h2 {
    color: #fff;
    text-shadow: 1px 1px var(--col-accent2);
}

.hero article {
    position: absolute;
    top : 4.25rem;
    left : 5%;
    width: 90%;
    padding: 1%;
    
    background-color: var(--col-primary-background);
    clear: both;
}

/*happy employee within the hero image*/
.hero article img {
    position: relative;
    float : right;
    padding-left: 15px;
    width: 25%;
    height: auto;
}/**/

/*Hero paragraph*/
.hero article p {
    color: var(--col-main-backround);
    text-shadow: 1px 1px var(--col-accent2);
}

/*This should flow below the hero banner*/
main section {
    position : relative;
    top: 20rem;
}

/*The history section*/
.history h2 {
    text-align: center;

}

/*Our experiences*/
.our-experiences {
    /**/
}

.our-experiences h2
{
    text-align: center;
}

.our-experiences > .our-experiences-images
{
    display: flex;
    justify-content:space-around ;
    align-items:flex-start;
}

.our-experiences > .our-experiences-images > figure > img {
    
    height: auto;
    width: var(--figure-width);
    object-fit: contain;
}

.our-experiences > .our-experiences-images > figure > figcaption {
    text-align: center;
    
    height: auto;
    width: var(--figure-width);
    
}

h2 {
    color: var(--col-accent1);
    text-shadow: 2px 1px var(--col-secondary);
    font-family: "Denk One", sans-serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p {
    color : var(--col_p);
    font-family: Sarabin, sans-serif;
}

/*Set Footer*/
footer{
    position : relative;
    top : 22.5rem;
}

/*grid of footer content*/
.grid-footer-container {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

/*footer column 2*/
.grid-footer-container > p {
    justify-self:center;
    grid-column-start: 2;
}

/*footer column 3*/
.grid-footer-container > .socialLinks {
    grid-column-start: 3;
    justify-self: right;
}
/*Set image links to 1 EM-dash*/
/*Remove any underline just in case*/
.grid-footer-container > .socialLinks img {
    width: 1em;
    text-decoration: none;
}