/*Setting styles for the main page and others*/

/*nav elements*/
nav {
    background-color: steelblue;
    padding: 10px;
}

/*Any a tag within nav*/
nav a {
    color: white;
    display: block;
    padding: 20px;
}

/*h1 elements*/
h1 {
    color: steelblue;
}

/*img elements*/
img {

    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

/*p elements*/
p {
    padding: 0px;
}

/*main elements*/
main {
    width: 840px;

}

main img{
    width: 200px;
    height: auto;
}

/*aside elements*/
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;

}

aside img {
    width: 200 px;
    height: auto;
}

/*footer elements*/
footer{
    margin-top: 5px;
    border-top: 25px;
    text-align: center;
}
