/*Setting styles for the main page and others*/

/*Get globals*/
* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

/*setting up global vars*/
:root {
    /*get colors*/
    --col-banner-and-h1   : steelblue;
    --col-nav-links             : white;
    --col-aside-background      : #eee;
    --col-aside-border          : rgba(0,0,0,0.2);
    --col-std-border            : var(--col-aside-border);
    --col-aside                 : #333;
    --col-img-background        : gray;
    
    /*get layout*/
    /*img*/
    --img-std-width             : 150px;
    --img-asside-width          : 200px;
    --img-std-height            : auto;
}

/*nav elements*/
nav {
    background-color: var(--col-banner-and-h1);
    padding: 10px;
}

/*Any a tag within nav*/
nav a {
    color: var(--col-nav-links);
    display: block;
    padding: 20px;
}

/*h1 elements*/
h1 {
    color: var(--col-banner-and-h1);
}

/*img elements*/
img {
    width: var(--img-std-width);
    height: var(--img-std-height);
    border: 1px solid var(--col-banner-and-heading1);
    padding: 2px;
    box-shadow: 0 0 30px var(--col-img-background);
}

/*p elements*/
p {
    padding: 0;
}

/*main elements*/
main {
    max-width: 840px;

}

main img {
    float: right;
    width: var(--img-asside-width);
    height: var(--img-std-height);
    
}

/*aside elements*/
aside {
    position : relative;
    width: 20rem;
    text-align: center;
}

aside img {
    width: var(--img-asside-width);
    height: var(--img-std-height);
}

aside h2 {
    position: absolute;
    top: 36px;
    left: 116px;  
    font-size: 12pt; /*I had to make the font smaller so it would fit*/
    color : rgb(213, 216, 237); /*This makes it easier to see*/
    filter: drop-shadow(3px 3px 3px #8f1111) /*This makes it easier to see*/
 }

/*footer elements*/
footer{
    margin-top: 5px;
    border-top: 25px;
    text-align: center;
}

/*Class Selectors*/
.box {
    margin: 1rem;
    border: 1px solid var(--col-std-border);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}